/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url('images/background1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: linear-gradient(135deg, #343a40, #212529);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

header nav ul li a:hover {
    color: #d2e8ff;
    text-decoration: underline;
}

h1 {
    color: #fff;
    font-size: 36px;
    margin: 0;
    transition: all 2s ease;
}

h1:hover {
    color: #fff;
    font-size: 36px;
    transition: all 2s ease;
}

.logo {
    height: 50px;
    width: auto;
    float: right;
    filter: grayscale(5%);
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(2);
}

.container {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.411);
    color: #fff;
}

.container-title {
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.411);
    color: #fff;
    transition: all 0.3s ease;
}

.container-title:hover {
    background-color: #111;
    transform: translateY(-5px);
    transition: all 0.8s ease;
}

.section-container {
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgb(0, 0, 0);
    padding: 20px;
    margin-top: 35px;
    transition: all 0.3s ease;
}

.section-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgb(0, 0, 0);
}

h2 {
    color: #fff;
    margin-top: 0;
}

p {
    line-height: 1.6;
    color: #ccc;
}

a {
    color: #318CE7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

.complements-list li {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #222;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.complements-list li:hover {
    background-color: #1b1b1b;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.complements-list blockquote {
    font-size: 1.09em;
    color: #fff;
    margin: 0;
    padding: 20px 40px;
    border-left: 5px solid #318CE7;
    text-align: justify;
    font-style: italic;
    position: relative;
}

.complements-list blockquote::before,
.complements-list blockquote::after {
    color: #318CE7;
    font-size: 2.5em;
    font-family: 'Georgia', serif;
    position: absolute;
}

.complements-list blockquote::before {
    content: "“";
    left: 10px;
    top: -10px;
}

.complements-list blockquote::after {
    content: "”";
    right: 10px;
    bottom: -10px;
}

.contact-details {
    text-align: right;
    color: #ccc;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .container {
        max-width: 95%;
        padding: 15px;
    }

    .container-title {
        max-width: 95%;
        padding: 15px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }

    .contact-details {
        font-size: 0.5em;
    }

    .complements-list blockquote {
        font-size: 0.7em;
        padding: 20px 40px;
    }
}
